body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN"
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position : fixed;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.top-wrapper {
  height: 600px;
  padding: 180px 0 100px 0;
  background-image: url(川崎工場夜景.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.PROFILE {
  padding: 0px 80px;
  height: 500px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-top: 50px;
}

.SKILL {
  padding: 0px 80px;
  height: 500px;
}

.WORKS {
  padding: 0px 80px;
  height: 500px;
}

.CONTACT {
  padding: 0px 80px 100px 80px;
}

.CONTACT input, textarea {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 20%;
  font-size: 18px;
  border: 1px solid #dee8ec
}

.contact-submit {
  background: #2f5267;
  color: #889eab;
}

footer {
  height: 120px;
  background: rgba(34, 49, 52, 0.9);
  color: #fff;
  padding: 40px;
}

.footer-left {
  float: left;
  font-size: 32px;
}

.footer-right {
  float: right;
}

.footer-right li{
  margin: 20px;
}

